<form [formGroup]="userForm">
  <label>Name:
    <input type="text" placeholder="Name" formControlName="nameControl">
  </label>
  <p class="error"
    *ngIf="showError && !userForm.controls['nameControl'].valid">Este campo es requerido</p>
  <br>
  <label>Last Name:
    <input type="text" placeholder="Last Name" formControlName="lastNameControl">
  </label>
  <p class="error"
    *ngIf="showError && !userForm.controls['lastNameControl'].valid">Este campo es requerido</p>
  <br>
  <label>Email:
    <input type="text" placeholder="Email" formControlName="emailControl">
  </label>
  <br>
</form>
<button class="btn btn-default" (click)="save()">Save</button>

<ul>
  <li *ngFor="let user of users">{{user.name}}</li>
</ul>